.OneTitle {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.wrapper {
    width: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.screen {
    background: black;
    color: white;
    text-align: right;
    padding: 15px;
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.calc-button {
    width: 22%;
    padding: 15px;
    font-size: 1.2em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #ddd;
}

.calc-button:hover {
    background: #bbb;
}

.double {
    width: 48%;
}
